NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCQz15M3t3GxPMjNL9kJsU69EAAJZF5wW0",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= "thousand-nyang.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID= "thousand-nyang",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= "thousand-nyang.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "842206630912",
NEXT_PUBLIC_FIREBASE_APP_ID= "1:842206630912:web:6d17dac7b8e41bf8f734e5",
